.defaultSecondaryButton {
    width: calc(100% - 150px);
    overflow: hidden;
    height: 60px;
    text-align: center;
    background-color: #E5E5E5;
    outline: none;
    border: none;
}

.defaultSecondaryInactiveButton {
    opacity: 30%;
}