.stallStoryContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #D2D2D2;
}

.stallStoryUsername {
    font-weight: bold;
}

.stallStoryText {
    clear: both;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stallStoryReadMore {
    color: #184AFC;
    font-style: italic;
}