.stallInfoContainer {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.stallInfoContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.stallInfoHeaderContainer {
    
}

.stallInfoScreenHeader {
    display: inline-block;
}

.stallInfoScreenStallName {
    display: inline-block;
    font-weight: bold;
    color: #184AFC;
    margin-left: 15px;
}

.stallInfoToilet {
    margin-top: 80px;
    width: 40%;
}

.stallInfoReadText {
    margin-top: 80px;
}

.stallInfoShareText {
    margin-top: 40px;
}

.stallInfoActionBtn {
    width: 80%;
    position: absolute;
    bottom: 100px;
    left: 10%;
}